* {
    box-sizing: border-box;
  }
body {
    background-color:#b3b3b3;
}

h1 {
    color:#262626;
}
p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4em;
    width: 70%;
    margin-left: 2%;
}

a {
    color: black;
    padding: 14px 20px;
    text-align: center;
}

a:hover, a:focus {
    color:#3399ff;
}

footer {
    padding: 20px;
    background-color: lightgray;
    display: flex;
}

#nav-bar {
    background-color: black;
    display: flex;
}

#nav-bar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

#nav-bar a:hover, #nav-bar a:focus {
    color: gray;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
}

#side-bar {
    flex: 5%;
    background-color: gray;
    padding: 20px;
}

#meat-of-the-content {
    flex: 70%;
    background-color: lightgray;
    padding: 20px;
}

#image-of-me {
    background-color: #aaa;
    width: 20%;
}

@media only screen and (max-width: 900px) {
    #image-of-me {
        width: 50%;
    }
    #nav-bar {
        flex-direction: column;
    }
    footer {
        flex-direction: column;
    }
    #main-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
