body {
  background-color: #b3d7ff;
}

#puzzleBoard {
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 80px;
  border: 8px solid #001f1f;
  border-radius: 1px;
}

.square {
    text-align: center;
    background-color: white;
    display:block;
    position: absolute;
    width: 122px;
    height: 122px;
    border-style: solid;
    border-radius: 1px;
    display:block;
}

.numSquare {
    font:bold 36px/80px Arial;
}

.emptySquare {
}

#puzzleBoard span {
    transition-property: top left;
    transition-duration: 0.5s;
}